repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
    -   id: black
        args: ["-l", "79"]

-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8

-   repo: local
    hooks:
    -   id: check-jsonc
        name: check-jsonc
        description: 'Check JSON with comments'
        entry: python -c 'import os, sys; os.system("pip install ./config"); import jsonc; jsonc.load(open(sys.argv[1]))'
        language: python
        types: [json]
        require_serial: true

    -   id: update-dockerfile
        name: update-dockerfile
        description: 'Update env vars in Dockerfile'
        entry: python -c 'import os, runpy; os.system("pip install ./config"); runpy.run_path("config/update-dockerfile.py")'
        files: ^config/config\.py$
        language: python
        require_serial: true
