py-cord[voice] @ https://github.com/Krutyi-4el/pycord/archive/v2.5.6.zip
yt-dlp==2023.11.16
aiohttp==3.9.1
beautifulsoup4==4.12.2
spotipy==2.23.0
emoji==2.8.0
SQLAlchemy[asyncio]==2.0.23
alembic==1.12.1
aioconsole==0.6.2
./config
