py-cord[voice] @ https://github.com/solaluset/pycord/releases/download/v2.5.12/py_cord-2.5.12-py3-none-any.whl
yt-dlp[default]==2025.1.12
aiohttp==3.11.11
beautifulsoup4==4.12.3
spotipy==2.24.0
SQLAlchemy[asyncio]==2.0.36
alembic==1.14.0
aioconsole==0.8.1
./config
